<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>Dear <%= @enrollment.student.first_name %>,</p>

<p>
  You have successfully enrolled in <%= @enrollment.course.title %> for <%= @enrollment.course_term %>.
</p>

<p>
  Should you have any questions regarding your enrollment status, please contact the
  <a href="mailto:registrar@zion.edu?subject=Enrollment #<%= @enrollment.id %>">registrar</a>.
</p>

</body>
</html>
